.topBar{
  width: 100%;
  height: 10%;
  /*background: #2B4f3F;*/
  border-bottom: solid 1px #f0f0f0;
}
.means{
  width: 20%;
  height: 90%;
  color:black;
  position: absolute;
  /*background: #4F867D;*/
  border-right: solid 1px #f0f0f0;
}
.means a{
  color:white;
}
.content{
  left: 20%;
  width: 80%;
  height: 90%;
  background: white;
  position: absolute;
}
.showComponent{
  display: block;
}
.hideComponent{
  display: none;
}
