//@import "~ag-grid/src/styles/ag-theme-common.scss";
$ag-icons-path: "../node_modules/ag-grid/src/styles/icons/";
$border-color: #f0f0f0;
$icon-color: red;
$header-background-color: #5F9EA0;
$secondary-font-size: 18px;
$font-size: 14px;
$odd-row-background-color: #f6f6f6;
$grid-size:5px;
