<!--<label>name:-->
  <!--<input [(ngModel)]="user.name" placeholder="name">-->
<!--</label>-->
<!--<div><span>name: </span>{{user.name}}</div>-->
<!--<div><span>age: </span>{{user.age}}</div>-->
<!--<div class="{{this.meanService.currWindow == 'users' ? 'showComponent':'hideComponent'}}">-->
  <!--<h2>My Users</h2>-->
  <!--<ul >-->
    <!--<li *ngFor="let user of users" (click)="onSelect(user)">-->
      <!--<input [(ngModel)]="user.name" placeholder="name"/>-->
      <!--<app-user-detail [user]="user"></app-user-detail>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
<div style="width: 99%;height: auto;background: #f0f0f0;padding: 10px 10px 10px 10px;margin: 2px 2px 10px 2px">

    <div nz-row [nzGutter]="24" style="margin-bottom: 5px">
      <div nz-col [nzSpan]="7" >
          <label>Name:</label>
          <input type="text" nz-input class="nzInputQuery" placeholder="Name" [(ngModel)]="queryEntity.name">
      </div>

      <div nz-col [nzSpan]="7" >
          <label>Age:</label>
          <input type="text" nz-input class="nzInputQuery" placeholder="Age" [(ngModel)]="queryEntity.age">
      </div>

      <div nz-col [nzSpan]="7" >
          <label>Address:</label>
          <input type="text" nz-input class="nzInputQuery" placeholder="Address" [(ngModel)]="queryEntity.sex">
      </div>

    </div>

    <div nz-row [nzGutter]="24" >
      <div nz-col [nzSpan]="8" >
        <button nz-button nzType="primary" (click)="showModal()" >
          <span><i class="anticon anticon-plus"></i> New</span>
        </button>
        <button nz-button nzType="default" (click)="resetQueryParam()" style="margin-left: 5px">
          <span>Reset</span>
        </button>
        <button nz-button nzType="primary" (click)="query()" style="margin-left: 5px">
          <span><i class="anticon anticon-search"></i> Query</span>
        </button>
      </div>
    </div>

</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add User" (nzOnCancel)="handleCancel()" (nzOnOk)="saveUser()" [nzOkLoading]="isOkLoading">
  <form nz-form [formGroup]="addUserForm" >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="name" [(ngModel)]="addEntity.name">
        <nz-form-explain *ngIf="addUserForm.get('name').dirty && addUserForm.get('name').errors">The input is not valid Name!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="age" nzRequired>Age</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="text" formControlName="age" [(ngModel)]="addEntity.age">
        <nz-form-explain *ngIf="addUserForm.get('age').dirty && addUserForm.get('age').errors">Please input your age!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sex" nzRequired>Sex</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="sex" [(ngModel)]="addEntity.sex">
          <nz-option *ngFor="let option of sexDict" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tel" nzRequired>Tel</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="text" formControlName="tel" [(ngModel)]="addEntity.tel">
        <nz-form-explain *ngIf="addUserForm.get('tel').dirty && addUserForm.get('tel').errors">Please input your Phone number!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="email" formControlName="email" [(ngModel)]="addEntity.email">
        <nz-form-explain *ngIf="addUserForm.get('email').dirty && addUserForm.get('email').errors">Please input right email!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="addr" nzRequired>Addr</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="addr" formControlName="addr" [(ngModel)]="addEntity.addr">
        <nz-form-explain *ngIf="addUserForm.get('addr').dirty && addUserForm.get('addr').errors">Please input right email!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<!--<nz-table #basicTable-->
          <!--[nzData]="displayData"-->
          <!--nzScroll = "200px"-->
          <!--[nzShowPagination]="true"-->
          <!--[nzPageSizeOptions]="[10,20,30]"-->
          <!--nzPageSize="10"-->
          <!--nzSize="small" >-->
  <!--<thead (nzSortChange)="sort($event)" >-->
  <!--<tr style="height: 20px">-->
    <!--<th *ngFor="let header of columnDefs" nzShowSort nzSortKey="header.field">-->
      <!--{{header.headerName}}-->
    <!--</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let user of displayData">-->
    <!--<td>{{user.name}}</td>-->
    <!--<td>{{user.age}}</td>-->
    <!--<td>{{user.sex}}</td>-->
    <!--<td>{{user.tel}}</td>-->
    <!--<td>{{user.email}}</td>-->
    <!--<td>{{user.addr}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</nz-table>-->


<!--<ng-template #content let-c="close" let-d="dismiss">-->
  <!--<div class="modal-header">-->
    <!--<h4 class="modal-title" id="modal-basic-title">Profile update</h4>-->
    <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
      <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--<form>-->
      <!--<div class="form-group">-->
        <!--<label for="dateOfBirth">Date of birth</label>-->
        <!--<div class="input-group">-->
          <!--<input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">-->
          <!--<div class="input-group-append">-->
            <!--<button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">-->
              <!--<img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>-->
  <!--</div>-->
<!--</ng-template>-->

<app-cus-table [rowData]="users" [tableName]="'UserTable'" [totalRowCount]="totalRowCount"></app-cus-table>
