<ul nz-menu [nzMode]="'inline'" >
  <li nz-submenu  *ngFor="let mean of means">
    <span style="margin: 0" title >
      <i class="anticon anticon-user" *ngIf="mean.enTitle === 'User Mgmt' " ></i>
      <i class="anticon anticon-skin" *ngIf="mean.enTitle === 'Table Style' " ></i>
      <i class="anticon anticon-bulb" *ngIf="mean.enTitle === 'Funny Diy' "></i>
      <i class="anticon anticon-area-chart" *ngIf="mean.enTitle === 'Echarts Demos' "></i>
      <a title (click)="clickTopMean()">{{mean.title}}</a>
    </span>
    <ul >
      <li nz-menu-item *ngFor="let subMean of mean.submenus ">
        <a routerLink="/{{subMean.href}}"  routerLinkActive="mgmt"
           (click)="add2window(subMean)" >{{subMean.title}}</a>
      </li>
    </ul>
  </li>
</ul>
